<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="browserName" value="edge"></parameter>
    <classes>
    <!--  <class name="com.test.LoginPageTest"/> -->
    <!--   <class name="com.test.HomePageTest"/> -->
    <!--   <class name="com.test.QuantityAlertsPageTest"/>-->
     <class name="com.test.OrderAndReparationsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
